@{
    ViewData["Title"] = "Stations";
    var data = ViewBag.AllStation;
}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Adresse</th>
            <th scope="col">Ville</th>
            <th scope="col">Description</th>
            <th scope="col">Vélos disponibles</th>
            <th scope="col">Favoris</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Station in data)
        {
        <tr>
            <td>@Station.name</td>
            <td>@Station.address</td>
            <td>@Station.commune</td>
            <td>@Station.description</td>
            <td>@Station.available_bike_stands</td>
            <td><button>Mettre en favoris</button></td>
        </tr>
        }
    </tbody>
</table>



<p>Use this page to detail your site's privacy policy.</p>
